<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <td>Név</td>
            <td>Neme</td>
            <td>Születési dátum</td>
            <td>Egyenleg</td>
            <td>Aktive</td>
        </thead>
    <% users.forEach((user, i) => { %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.gender %></td>
            <td><%= user.date %></td>
            <td><%= user.balence %></td>
            <td><%= user.active ? 'Aktiv': 'Nem aktive' %></td>
        </tr>
    <% }); %>
    </table>
</body>
</html>